<section
  id="testimonials"
  aria-labelledby="testimonial-heading"
  class="relative mx-auto max-w-7xl py-24 px-4 sm:px-6 lg:py-32 lg:px-8"
>
  <div class="mx-auto max-w-2xl lg:max-w-none">
    <h2 id="testimonial-heading" class="text-2xl font-bold tracking-tight text-gray-900">
      {{ section.settings.sec_heading }}
    </h2>

    <div class="mt-16 space-y-16 lg:grid lg:grid-cols-3 lg:gap-x-8 lg:space-y-0">
      {%- if section.blocks.size > 0 -%}
        {%- for block in section.blocks -%}
          <blockquote class="sm:flex lg:block">
            <svg width="24" height="18" viewBox="0 0 24 18" aria-hidden="true" class="flex-shrink-0 text-gray-300">
              <path d="M0 18h8.7v-5.555c-.024-3.906 1.113-6.841 2.892-9.68L6.452 0C3.188 2.644-.026 7.86 0 12.469V18zm12.408 0h8.7v-5.555C21.083 8.539 22.22 5.604 24 2.765L18.859 0c-3.263 2.644-6.476 7.86-6.451 12.469V18z" fill="currentColor"></path>
            </svg>
            <div class="mt-8 sm:mt-0 sm:ml-6 lg:mt-10 lg:ml-0">
              {%- if block.settings.quote != blank -%}
                <p class="text-lg text-gray-600">
                  {{ block.settings.quote }}
                </p>
              {%- endif -%}
              {%- if block.settings.author != blank -%}
                <cite class="mt-4 block font-semibold not-italic text-gray-900">{{ block.settings.author }}</cite>
              {%- endif -%}
            </div>
          </blockquote>
        {%- endfor -%}
      {%- endif -%}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "お客様の声",
  "max_blocks": 6,
  "settings": [
    {
      "type": "text",
      "id": "sec_heading",
      "label": "見出し",
      "default": "What are people saying?"
    }
  ],
  "blocks": [
    {
      "type": "quote",
      "name": "お客様の声",
      "settings": [
        {
          "type": "richtext",
          "id": "quote",
          "label": "お客様の声（文章）",
          "default": "<p>Add customer reviews and testimonials to showcase your store’s happy customers.</p>"
        },
        {
          "type": "text",
          "id": "author",
          "label": "お客様の名前",
          "default": "Author’s name"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "お客様の声",
      "category": "Text",
      "blocks": [
        {
          "type": "quote"
        },
        {
          "type": "quote"
        },
        {
          "type": "quote"
        }
      ]
    }
  ]
}
{% endschema %}
